.speech {
    font-family: 'Arial', monospace;
    font-size: 14px;
    color: black;
}
.stage_direction {
    font-family: 'Arial', monospace;
    font-size: 11px;
    color: gray;
    background-color: rgb(196, 144, 238);
}
.stage_direction:hover {
    background-color: blue;
    color: green;
}
.name {
    font-family: 'Arial', monospace;
    font-size: 16px;
    color: blue;
}
.prince_petro{
    color:cadetblue
}
.gen_kot{
    color:cyan
}
.count{
    color:darkorchid
}
.marq{
    color:goldenrod
}
.baron{
    color:indianred
}

.table{
    border: 2px rgb(0, 255, 191);
    padding: 20px 20px 20px 20px;
    margin: 50px 50px 50px 50px;
    width: 75%; 
  }

  .name:hover{
    text-shadow: 3px 3px 3px rgb(2, 2, 5);
    color:wheat;
    filter: brown(5px);
    border: solid 3px rgb(2, 2, 5);
  }